body{
    font-family: 'Arimo', sans-serif;
    color: #4D4D4D;
    font-size: 20px;
}

.navbar{
    background-color: #F9F9F9 !important;
}

.navbar-brand{
    filter: grayscale(100%);
    opacity: 0.5;
}
.navbar-brand:hover{
    opacity: 1;
}

.btn{
    box-shadow: 0.2px 0 #CDD2D4 !important;
}

.btn-default{
    background-color: #E2E4D6 !important;
}

.btn-default:hover{
    background-color: #D6DADC !important;
}

.btn-success{
    box-shadow: 0.2px 0 #3F6F21 !important;
    font-weight: bold;
}

a{
    color:#4D4D4D;
    opacity: 0.5;
    text-decoration: underline;
}

a:hover{
    color: #4D4D4D;
    opacity: 1;
}

.bg-primary{
    background-color: #0079BF!important;
}
.bg-secondary{
    background-color: #E4F0F6 !important;
}

.patners img{
    height: 60px;
    width: auto;
    margin: 15px 10px;
}

.bg-dark{
    background-color: #42548E !important;
}

.btn-dark{
    box-shadow: 0.1px hsla(0, 0, 0, 0.1);
    background: #42548e;
    border: 0;
    border-radius: 0.3cm;    
    background: rgba(196, 201, 204, 0.3);
}
.btn-dark:hover{
    background: rgba(196, 201, 204, 0.4);
}

